<br>
<br>
<br>
<br>
<br>
<br>
<h1> WELL DONE 😇</h1>
<p><%= @user.email %> voici la question qu'il faut toujours se poser</p>

<P> C'est quoi le le schmilblick </p>


<a href="/">Retour à la page d'accueil</a>
